<script id="tempButton" type="text/html">
    <header class="header">button<i title="home" class="icon-home"></i></header>
    <div class="header-pos"></div>
    <div class="content">
        <a class="button" href="javascript:;">default Button</a>
        <a class="button button-active" href="javascript:;">active Button</a>
        <button class="button button-disabled">disabled Button</button>  
        <button class="button button-primary"> primary Button</button>  
        <button class="button button-success"> success Button</button>  
        <button class="button button-danger"> danger Button</button>  
        <button class="button button-warning"> warning Button</button>  
        <button class="button button-info"> info Button</button>  
    </div>
</script>