<script id="tempDialog" type="text/html">
    <header class="header">dialog<i title="home" class="icon-home"></i></header>
    <div class="header-pos"></div>
    <div class="content">
        <button data-tag="loading" class="button button-primary">loading</button>
        <button data-tag="freshing" class="button button-primary">refresh</button>
        <button class="button button-info" data-tag="dialog">dialog</button>        
        <button class="button button-info" data-tag="share">share</button>        
    </div>
    <div id="share" class="share-wrap">
        <div class="share-arrow"></div>
        <div class="share-tip">share to friend</div>
    </div>
    <div id="dialog" class="dialog-wrap">
        <div class="info-dialog">
            <div class="dialog-text">
                <p>确定吗 ？</p>
            </div>
             <div class="dialog-footer">
                <a href="javascript:;" class="confirm">确定</a>
                <a href="javascript:;" class="cancel">取消</a>
          </div>
      </div>
  </div>
</script>